body {
	background-color: #cccecd;
	color: #636564;
}

main {
	border: 2px solid #636564;
	padding: 25px;
}

.linea {
	border-bottom: 3px solid #636564;
}

.descripcion {
	display: none;
}

.titulo-datos-perfil {
	margin-bottom: 0;
	font-size: 16px;
}

.lista-datos-perfil {
	margin-top: 0;
	list-style-type: none;
	text-align: left;
	padding: 0;
}
