* {
	box-sizing: border-box;
}

body {
	background-color: #cccecd;
	color: #636564;
	border: 2px solid #636564;
}

main {
	padding: 25px;
}

.contenedor-imagen-perfil {
	width: 100%;
	height: 175px;
	overflow: hidden;
	margin: 8px 0;
}

.foto-perfil {
	max-width: 100%;
}

.linea {
	border-bottom: 3px solid #636564;
}

.descripcion {
	display: none;
	font-size: 22px;
}

.titulo-datos-perfil {
	margin-bottom: 0;
	font-size: 24px;
}

.lista-datos-perfil {
	margin-top: 0;
	list-style-type: none;
	text-align: left;
	padding: 0;
	font-size: 22px;
}

.contenedor-vista-previa {
	display: flex;
	position: relative;
	margin-bottom: 25px;
}

.eliminar-preview {
	display: none;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
}

.imagen-vista-previa {
	width: 100%;
}

.fa-play {
	color: #fafafa;
	font-size: 35px;
	position: absolute;
	z-index: 101;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.reproductor-video {
	width: 100%;
	margin-bottom: 25px;
}

.imagen {
	width: 100%;
}

.contenedor-imagen {
	width: 100%;
	height: 175px;
	overflow: hidden;
	margin: 8px 0;
}

.imagen {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (min-width: 1024px) {
	body {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	main {
		padding: 20px;
		width: 800px;
	}

	.contenedor-general {
		width: 800px;
	}

	.datos {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.contenedor-imagen-perfil {
		width: 370px;
		margin: 0;
	}

	.foto-perfil {
		width: 370px;
	}

	.datos-perfil {
		width: 40%;
	}

	.linea {
		border-bottom: none;
	}

	.descripcion {
		display: block;
	}

	.fa-play {
		font-size: 65px;
	}

	.reproductor-video {
		width: 100%;
	}

	.imagenes {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.contenedor-imagen {
		width: 370px;
		height: 370px;
		overflow: hidden;
		margin-top: 18px;
	}

	.imagen {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media (min-width: 1256px) {
	main {
		padding: 40px;
		width: 1230px;
	}

	.datos-perfil {
		width: 18%;
	}

	.fa-play {
		font-size: 75px;
	}

	.contenedor-imagen-perfil {
		width: 25%;
	}

	.contenedor-imagen {
		width: 270px;
		height: 270px;
	}
}
